---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import MusicToggle from "../components/MusicToggle.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import Carrusel from "../components/Carrusel.astro";
import Evento from "../components/Evento.astro";
import Ubicacion from "../components/Ubicacion.astro";
import Vestimenta from "../components/Vestimenta.astro";
import Regalos from "../components/Regalos.astro";
import Rsvp from "../components/Rsvp.astro";
import Cierre from "../components/Cierre.astro";
---

<Layout>
  <Nav />
  <MusicToggle />
  <main>
    <Hero />
    <Countdown />
    <Carrusel />
    <Evento />
    <Ubicacion />
    <Vestimenta />
    <Regalos />
    <Rsvp />
    <Cierre />
  </main>
</Layout>
